/* This imports a Google Font family for use in the document */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

/* Mobile First Approach (0px to 768px) */
html,
body {
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(to bottom, #cb6ce6, #7a92ff, #00abff, #00baed, #a1a1a1);
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 90px;
    padding: 0 40px;
}

.logo img {
    padding: 10px;
    float: left;
    padding-right: 80px;
}

/* Keeps the navbar buttons in place in a row */
header .menu ul {
    display: flex;
}

header .menu li a {
    font-size: .8rem;
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

/* I wanted to remove the footer as it didn't fit the website's main aesthetic as a minimalistic
personal brand. The height calc removes the bottom of the page */

#home {
    height: calc(100vh - 90px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .banner-info {
    width: 100%;
    padding-left: 60px;
    float: left;
}

#home .banner-info h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-right: 50px;
    color: white;
    text-align: center;
}

/* Contact form; it differs from mockup created in UX Design class, as I wanted an animation
and a more minimalistic design rather than a blocky form that takes up the entire page */
form {
    max-width: 420px;
    margin: 50px auto;
    margin-right: 50px;
}

.feedback-input {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    border: 2px solid white;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    color: black;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

/* Hover animation matches the color of website */
[type="submit"]:hover {
    background: #cb6ce6;
    color: white;
}

/* Media query past 641px (Tablets / Desktop) puts Contact Form to the right hand side */
@media screen and (min-width: 641px) and (max-width: 1007px) {
    
    #home .banner-info h1 {
        font-size: 4.5rem;
        font-weight: 900;
        color: white;
        margin-bottom: 3rem;
        text-align: center;
    }

    #home .banner-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (min-width: 1008px) {

    #home .banner-info h1 {
        font-size: 5.5rem;
        font-weight: 900;
        color: white;
        margin-bottom: 3rem;
        text-align: center;
    }

    #home .banner-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}